<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>CS 523 Style Transfer</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <style>
  body { font: 16px/1.5em Raleway, helvetica; }
  </style>
</head>
<body>

<div>
  <h3>Content image</h3>
  <p>
    <input id="content-input" type="file">
  </p>

  <h3>Style image</h3>
  <p>
    <input id="style-input" type="file">
  </p>
</div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="javascripts/upload2.js"></script>
</body>
</html>
